@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fa;
}
.header .call-button {
  color: red;
  font-weight: bold;
}
.note {
  margin: 20px 0;
  padding: 10px;
  background-color: #e9ecef;
  border-left: 5px solid #007bff;
}
.plan-list {
  margin: 20px 0;
}
.footer {
  text-align: center;
  margin-top: 40px;
  padding: 10px;
  background-color: #f8f9fa;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.fixed-top-menu {
position: sticky;
  top: 0;
}